<div class="table-container">
  <mat-table [dataSource]="categories" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="name-header"> Category Name </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element" class="name-cell">
<!--        <a [routerLink]="['https://stackoverflow.com/questions/53764059/angular-material-7-link-for-whole-row', element.id]">{{ element.name }}</a>-->
        <a href="https://discord.com/app">{{ element.name }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="description-header"> Description </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element" class="description-cell"> {{ element.description }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
