<div class="home-container">
  <mat-card class="home-card">
    <mat-card-content>
      <h3>About Bees</h3>
      <p>Bees are incredibly important for our ecosystem. They are key pollinators of plants, contributing to biodiversity and food production. Additionally, bees produce honey and other valuable bee products.</p>
      <h3>Why Bees Are Important</h3>
      <ul>
        <li>Bees pollinate plants, leading to the formation of fruits, vegetables, and seeds.</li>
        <li>They contribute to maintaining biological diversity by pollinating various plant species.</li>
        <li>Bees produce honey, which is a tasty and healthy sweet product.</li>
        <li>They create beeswax, propolis, and other bee products with diverse applications.</li>
      </ul>
      <h3>How Can We Protect Bees?</h3>
      <ol>
        <li>Plant flowering plants that will attract bees to your garden.</li>
        <li>Avoid using pesticides harmful to bees.</li>
        <li>Support local beekeepers by purchasing honey and bee products from them.</li>
      </ol>
    </mat-card-content>
  </mat-card>
</div>
