
<div class="dialog-container">

  <div class="form-container">

    <h1 mat-dialog-title>{{product.name}}</h1>

    <div class="input-div">

        <mat-form-field floatLabel="always">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="1" min="1" max="10" [formControl]="selectedAmount">
        </mat-form-field>

    </div>

    <div class="button-div">

      <div mat-dialog-actions>

        <button mat-raised-button color="warn" (click) = "closeDialog()">Cancel</button>
        <button mat-raised-button color="primary" (click)="closeAndSave()">Add to cart</button>

      </div>

    </div>

  </div>


</div>



