<mat-toolbar color="primary">

    <span class="title">Beehive Application</span>

    <span class="example-spacer"></span>


<!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->

<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--      <mat-icon>share</mat-icon>-->
<!--    </button>-->
  <a mat-raised-button class="btn" routerLink="Home">Home</a>
  <a mat-raised-button class="btn" routerLink="Products">Products</a>
  <a mat-raised-button class="btn" routerLink="Categories">Categories</a>
  <a mat-raised-button class="btn" routerLink="Wishlist">Wishlist</a>
  <a mat-raised-button class="btn" routerLink="Login">Login</a>
  <a mat-raised-button class="btn" routerLink="Register">Register</a>

</mat-toolbar>

