*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stepper-container{
  width: 100%;
  padding: 1.5rem;
  height: calc(100vh - 4.5rem);
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.stepper-info{
  padding: 0.5rem 0 1.5rem 0;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 14rem;
}


.error{
  font-size: 0.9rem;
  width: 35rem;
  margin-left: -1rem;
  margin-top: 0.2rem;
  padding: 0.2rem;
}

