
<div class="stepper-container">

  <mat-stepper class="stepper" orientation="vertical" linear="true" #stepper>

    <mat-step [stepControl]="firstFormGroup">

      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter Your Email Address</ng-template>
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput type="email" placeholder="pat@example.com" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <p class="stepper-info">Provide your email address and we will send you a verification code that will allow you to reset your password.</p>
          <button mat-raised-button matStepperNext color="primary" (click)="sendVerificationCode()">Next</button>
        </div>
      </form>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup">

      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter Security Code</ng-template>
        <mat-form-field>
          <mat-label>Security code</mat-label>
          <input matInput formControlName="secondCtrl" maxlength="5" placeholder="97510" required>
        </mat-form-field>
        <div>
          <p class="stepper-info">We have sent an email with the security code. Please enter this code into the field to create a new password.</p>
          <button mat-raised-button color="primary" matStepperNext>Confirm</button>
        </div>
      </form>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>

  </mat-stepper>

</div>
