*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stepper-container{
  width: 100%;
  padding: 1.5rem;
  height: calc(100vh - 4.5rem);

}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.stepper{
  margin: 0 auto;
  width: 95%;
}

.stepper-info{
  padding: 0.5rem 0 1.5rem 0;
}

