
<div class="stepper-container">

  <mat-stepper orientation="vertical" linear="true" #stepper>

    <mat-step [stepControl]="firstFormGroup" [editable]="false">

      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter Your Email Address</ng-template>
        <mat-form-field style="width: 15rem">
          <mat-label>Enter your email</mat-label>
          <input matInput type="email" placeholder="pat@example.com" formControlName="email" required>
        </mat-form-field>
        <div>
          <p class="stepper-info">Provide your email address and we will send you a verification code that will allow you to reset your password.</p>
          <button mat-raised-button matStepperNext color="primary" (click)="sendVerificationCode()">Next</button>
        </div>
      </form>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [editable]="false">

      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter Security Code</ng-template>
        <mat-form-field style="width: 15rem">
          <mat-label>Security code</mat-label>
          <input matInput formControlName="code" pattern="[0-9]+" minlength="6" maxlength="6" placeholder="802427" required>
        </mat-form-field>
        <div>
          <p class="stepper-info">We have sent an email with the security code. Please enter this code into the field to create a new password.</p>
          <button mat-raised-button color="primary" (click)="confirmCode()" [disabled]="!disableChangePassword">Confirm</button>
          <button mat-raised-button color="warn" style="padding: 0 0.5rem; margin: 0 1rem" [disabled]="!disableChangePassword" (click)="sendVerificationCode()">Send again</button>
          <button mat-raised-button color="primary" matStepperNext [disabled]="disableChangePassword">Next</button>
        </div>
      </form>

    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" [editable]="false">

      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Change Password</ng-template>

        <div class="input-container">

          <mat-form-field style="width: 15rem">
            <mat-label>Enter new password</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="pwd">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="pwd.invalid" class="error">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field style="width: 15rem">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="rpwd">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="!validatePasswords()" class="error">Passwords do not match</mat-error>
          </mat-form-field>

        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext style="margin-top: 1rem" (click)="changePassword()">Change</button>
        </div>
      </form>

    </mat-step>

  </mat-stepper>

</div>
